.vscode
/exercícios C++/bit++
/exercícios C++/bondinho
/exercícios C++/elephant
/exercícios C++/exercicioCha
/exercícios C++/gangorra
/exercícios C++/pangram
/exercícios C++/quadrante
/exercícios C++/watermelon
/exercícios C++/aprovadoReprovado