.vscode
/exercícios C++/aprovadoReprovado
/exercícios C++/bit++
/exercícios C++/bondinho
/exercícios C++/elephant
/exercícios C++/exercicioCha
/exercícios C++/gangorra
/exercícios C++/pangram
/exercícios C++/quadrante
/exercícios C++/queries_less_equal
/exercícios C++/watermelon